
html,body{
    min-width: 1200px;
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

li{
	margin:0;
	padding:0;
}
.clearfix {
    /**清浮动*/
    zoom: 1;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

a{
    text-decoration: none;
}


